header {
    background-image: linear-gradient(to right, #3b6ec4 , #230455);
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-weight: bold;
}

/* card color is #33475a */