header {
    background-image: linear-gradient(to right, #3b6ec4 , #230455);
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.forecast-card {
    background-color: #33475a;
    color: #f1f1f1;
}

.green {
    background-color: green;
    color: #f1f1f1;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
    color: #f1f1f1;
}

.red {
    background-color: red;
    color: #f1f1f1;
}

.violet {
    background-color: violet;
    color: #f1f1f1;
}